@model WorldAroundUs.ViewModels.TestResultViewModel
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <p class="h1 hb" style="font-size: 55px">Поздравляю, тест пройден!</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center">
            <p class="h4 hm">Вы набрали @Model.Points из @ViewBag.MaxPoints возможных баллов.</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center mb-3">
            <a class="btn rounded shadow-sm rounded-pill hr" asp-action="TestInfoById" asp-controller="Home" asp-route-id="@Model.TestId" style="background-color: #FFC23A; font-size: 20px">Подробнее</a>
        </div>
    </div>
</div>