@model List<WorldAroundUs.Models.GlobalResult>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.Points)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelElem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelElem => item.Points)
            </td>
        </tr>
    }
    </tbody>
</table>