@model List<WorldAroundUs.Models.GlobalResult>
<div class="row" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(169, 218, 214) 100%), url(../../back.jpg) no-repeat center center fixed; height: 900px; width: 100%; background-size: cover; margin: 0;">
    <div class="col-lg-12 d-flex align-items-center justify-content-center mb-5">
        <div class="mb-5">
            <div class="h1 d-flex justify-content-center hb" style="font-size: 55px">Рейтинг</div>
            <br/>
            <div class="h3 d-flex justify-content-center hr">Стремись к большим познаниям!</div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        @{ int number = 0; }
        @foreach (var item in @Model)
        {
            number += 1;
            <div class="col-lg-4 d-flex justify-content-end align-items-center mt-5 hb" style="font-size: 40px">@number</div>
            <div class="col-lg-4 d-flex align-items-center mt-5 hm">
                <img src="@item.UserImage" class="rounded-circle mr-3" alt="avatar" style="height: 50px; width: 50px; object-fit:cover;"/>
                @Html.DisplayFor(modelElem => item.User)
            </div>
            <div class="col-lg-4 d-flex align-items-center mt-5 hm">
            @Html.DisplayFor(modelElem => item.Points) баллов
            </div>
        }
    </div>
</div>