<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 mt-5" style="background-image: url(../../adminpanel.png); background-size: cover; height: 780px"></div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <a asp-action="AdminSection" class="btn btn-light btn-lg m-2 shadow-sm hm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="../../1.png" alt="...">
                                </span> <br/>Разделы
                            </a>
                            <a asp-action="AdminSubsection" class="btn btn-light btn-lg m-2 shadow-sm hm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="../../2.png" alt="...">
                                </span> <br/>Подразделы
                            </a>
                            <a asp-action="AdminTheme" class="btn btn-light btn-lg m-2 shadow-sm hm" role="button">
                                                            <span class="glyphicon glyphicon-list-alt">
                                                                <img src="../../3.png" alt="...">
                                                            </span> <br/>Темы
                                                        </a>
                            <a asp-action="TestGrid" class="btn btn-light btn-lg m-2 shadow-sm hm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="../../4.png" alt="...">
                                </span> <br/>Тест
                            </a>
                            <a asp-action="QuestionGrid" class="btn btn-light btn-lg m-2 shadow-sm hm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="../../5.png" alt="...">
                                </span> <br/>Вопросы
                            </a>
                            <a asp-action="AnswerQuestion" class="btn btn-light btn-lg m-2 shadow-sm hm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="../../6.png" alt="...">
                                </span> <br/>Ответы
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>