<div class="container mt-5">
    <div id="grid"></div>
</div>
<script>
    $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllAnswerOptionText", "Admin")",
                        update: {
                                                    url: "@Url.Action("UpdateAnswerOptionText","Admin")",
                                                    dataType: "json",
                                                    type: "POST"
                                                },
                                                create:{
                                                    url: "@Url.Action("CreateAnswerOptionText", "Admin")",
                                                    dataType: "json",
                                                    type: "POST"
                                                },
                        destroy: {
                            url: "@Url.Action("RemoveAnswerOptionText", "Admin")",
                            dataType: "json",
                            type: "DELETE"
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: {from: "id", type: "number", editable: false},
                                Text: { from: "text"},
                                ImageUrl: { from: "imageUrl" },
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                height: 550,
                editable: "popup",
                toolbar: [
                    {name: "create"},
                    {name: "excel"}
                ],
                excel: {
                    fileName: "Sections.xlsx",
                    filterable: true,
                    allPages: true
                },
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                    {
                        field:"Id",
                        filterable: false
                    },
                    {
                        field: "Text",
                        title: "Ответ текстом"
                    },
                    {
                        field: "ImageUrl",
                        title: "Ссылка на картинку"
                    },               
                    {
                        command: "edit"  
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
</script>